<div class="signup_box">
    <h1 class="title">{{t "signup.title"}}</h1>
    <div class="content">
        <table>
	    <tr>
                <td class="label">label:</td>
                <td class="item"><input type="text" name="firstName" size="32" maxlength="256"/></td>
            </tr>
	    <tr>
                <td class="label">a longer label:</td>
                <td class="item"><input type="text" name="firstName" size="16" maxlength="256"/></td>
            </tr>
        </table>
    </div>
</div>
