<div class="signup_box">
    <h1 class="title">title</h1>
    <div class="content">
        <ul class="list_vertical_divided items">
            <li class="">
                <strong>label:</strong> <span class="item">item</span>
            </li>
            <li class="">
                <strong>label:</strong> <span class="item">item</span>
            </li>
       </ul>
    </div>
</div>
