@import "_browser_support";
@import "_common";
@import "compass/css3/border-radius";

.signup_box {
    font-size: 14px;
    position: relative;
    top: 100px;

    border: $border-canon;
    @include border-radius($default-border-radius);

    width: 500px;
    margin-left: auto;
    margin-right: auto;

    .title {
    	@include border-top-radius($default-border-radius);

        background-color: $dialog-header-background;
        padding: 20px;
        font-weight: normal;
    }

    .content {
        tr {
            padding-top: 5px;
        }
        td.label {
	    width: 200px;
            text-align: right;
	    padding-right: 5px;
        }
	td.item {
	}
    }

    .zipCode {
        width: 30%;
    }

    .phone {
        display: inline;
        width: 40%;
	padding-right: 40px;
    }

    .extension {
        display: inline;
        width: 20%;
    }

    .interestedInDevelopment {
        padding-top: 5px;
        input {
            display: inline;
        }
    }
}
